<div class="global-footer">
        <div class="footer-grid">
            <div class="text-centered">
                <div class="footer-cell">
                    <div class="footer-corp-links">
                        <ul class="footer-links footer-links--inline footer-links--padding-right">
                            <li>
                                <a href="#" class="text-body-small">Help</a>
                            </li>
                            </li>
                            <li>
                                <a href="#" class="text-body-small">Contact Us</a>
                            </li>
                            <li>
                                <a href="#" class="text-body-small">About</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="l-pad-vert-4 l-sm-pad-vert-3 hide-large">
                    <p class="footer-copyright text-body-small l-mar-top-2">© 2016 Conference360</p>
                </div>
            </div>
        </div>